extends ../layout

block content
    div(class="bg-[#2F3159]")
        div.min-h-screen.items-center.flex.flex-col
            a.p-4.absolute.left-0(href='../')
                img(src="/images/logo.svg")
            img.absolute.right-0.z-10(src="/images/graph.png", alt="", class="w-[300px]")
            div.m-auto.flex.flex-col.gap-3.p-6.rounded-lg.items-center.text-white.mt-20.z-10.bg-center.bg-cover(class="bg-[url('/images/cBlurrs.png')] w-[450px]")
                div.font-semibold.text-3xl Forgot Password
                div.text-xs.text-gray-500 Enter your email and we wil send you a link.
     
                div.flex.flex-col.gap-2.w-full.my-8
                    div.font-medium.text-xs E-mail Address
                    input.w-full.rounded-lg.h-10.text-xs.px-2.outline-transparent(placeholder="Please Enter Your Email Here", class="bg-[#494C7D]")
                    
                a.p-2.rounded-lg.w-full.text-white.font-medium.flex.justify-center.text-sm(href="/", class="bg-gradient-to-r from-[#594ED1] to-[#974ED1]") Send me the link
                a.p-2.rounded-lg.w-full.text-white.font-medium.text-xs.flex.justify-end(href="./login") Login
            img(src="/images/footerShade.svg", alt="", class="absolute bottom-0")
            img(src="/images/footer.png")