extends ../layout
block content
    div(class="bg-[#2F3159]")
        div.overflow-y-auto.px-16.py-4.text-white.z-10(class="bg-[url('/images/patterns.svg')]  min-h-screen")
            div.flex.justify-between.p-4
                a(href="../")
                    img(src="/images/logo.svg")
                a.p-2.w-40.rounded-lg.text-white.font-medium.flex.justify-center.text-sm.border.border-slate-500(href="../auth/login") 
                    div.self-center Logout
            div.text-sm.m-2.py-1.px-8.rounded-full.w-fit.mt-5(class=" bg-[#4A4D91]") Home / Agents By Location / Toronto
            div.flex.flex-col.p-2.gap-2
                div.grid.grid-cols-12.gap-6
                    div.col-span-3
                        include ../partials/settingsAdmin
                    div.col-span-9.flex.flex-col.gap-3.rounded-lg.p-6.bg-center.bg-cover(class="bg-[url('/images/cBlurrs.png')]")
                        div.flex.flex-col.gap-3
                            div.font-bold Add Locations
                            div Locations that you add here will be shown in the main site
                        div.flex.gap-3
                            input.w-full.rounded-lg.text-xs.px-2.outline-transparent(placeholder="Please Enter" class="bg-[#494C7D]")
                            a.p-2.w-40.rounded-lg.text-white.font-medium.flex.justify-center.text-sm(href="../auth/register" class="bg-gradient-to-r from-[#594ED1] to-[#974ED1]") 
                                div.self-center Add New Location
                        div.flex.flex-col.text-sm.font-bold
                        - for (var i = 0; i < l.length; i++)
                            div.p-2.flex.border.border-slate-400.w-full.rounded-lg.text-xs.items-center.justify-between
                                //- img.bg-cover.w-20.h-20(src="/images/lis.png")
                                div.flex.gap-2
                                    div.font-bold=i+1
                                    div
                                        //- div.text-gray-400 Name
                                        div=l[i].location
                           
                                div.flex.gap-2
                                    a Edit
                                    a Delete


