div.flex.w-full.rounded-lg.p-2.justify-between.bg-center.bg-cover(class="bg-[url('/images/cBlurrs.png')]")
    div.flex.self-center.text-sm.gap-4.px-4.py-2
        a(hx-swap="innerHTML" hx-trigger="click" hx-target="#agenttabs" hx-get='/partials/agentlisting?user='+data.profiles_id class="hover:font-bold cursor-pointer") Listings
        a(hx-swap="innerHTML" hx-trigger="click" hx-target="#agenttabs" hx-get='/partials/agentcontact?user='+data.profiles_id class="hover:font-bold cursor-pointer") Contact Alexander
    if auth.data.session
        a.px-6.w-fit.rounded-lg.text-white.font-medium.flex.justify-center.text-sm(href='../agent/listings?user='+data.profiles_id, class="bg-gradient-to-r from-[#594ED1] to-[#974ED1]") 
            div.self-center Update  