- for (var i = 0; i < 3; i++)
    div.w-full.rounded-lg.p-4.my-2.bg-center.bg-cover(class="bg-[url('/images/cBlurrs.png')]")
        div.font-bold.text-sm.mb-4 Current Listings By Alexander
        a(href="../agent/public?user="+data.profiles_id) 
            div.rounded-lg.h-52.w-full.bg-center.bg-cover.flex.flex-col(class="bg-[url('/images/lis.png')]")
                div.flex.justify-between.p-4.mt-16
                    img.h-6.w-6(src="/images/leftarrow.png")
                    img.h-6.w-6(src="/images/rightarrow.png")
                div.font-bold.p-4
                    div.text-xs.text-gray-200 Address
                    div 435 One Drive, Commerical Plaza, Clearnc, Toronto 94540, Canada
            div.flex.text-sm.justify-between.p-4
                div
                    div.text-xs.text-gray-400 Listed On
                    div 24 Feb 2024
                div
                    div.text-xs.text-gray-400 Another Feature
                    div Feature Details
                div
                    div.text-xs.text-gray-400 More List Prop
                    div Summary Prop Details
        

