div.w-full.rounded-lg.p-4.bg-center.bg-cover(class="bg-[url('/images/cBlurrs.png')]")

    div.flex.flex-col.gap-4.p-4
        div.flex
            div.w-full
                div.font-bold.font.text-sm.mb-2 Your Name 
                input.w-full.rounded-lg.h-10.text-xs.px-2.outline-transparent(placeholder="Please Enter Your Email Here" class="bg-[#494C7D]")
        div.flex.gap-4
            div.w-full
                div.font-bold.font.text-sm.mb-2 Email 
                input.w-full.rounded-lg.h-10.text-xs.px-2.outline-transparent(placeholder="Please Enter Your Email Here" class="bg-[#494C7D]")
            div.w-full
                div.font-bold.font.text-sm.mb-2 Phome Number 
                input.w-full.rounded-lg.h-10.text-xs.px-2.outline-transparent(placeholder="Please Enter Your Email Here" class="bg-[#494C7D]")

        div.flex.gap-4
            div.w-full
                div.font-bold.font.text-sm.mb-2 Message
                textarea.w-full.rounded-lg.h-40.text-xs.p-2.outline-transparent(placeholder="Please Enter Your Email Here" class="bg-[#494C7D]")

        div.m-4.p-2.px-4.rounded-lg.text-white.font-medium.flex.justify-center.text-sm(href="/" class="bg-gradient-to-r from-[#594ED1] to-[#974ED1]") Submit
