div.flex.w-full.rounded-lg.p-2.justify-between.bg-center.bg-cover(class="bg-[url('/images/cBlurrs.png')]")
    div.flex.self-center.text-sm.gap-4.px-4
        a(href='../agent/profile?user='+data.profiles_id) Listings
        a(href='../agent/contact?user='+data.profiles_id) Contact Alexander
    a.py-2.px-6.w-fit.rounded-lg.text-white.font-medium.flex.justify-center.text-sm(href='../agent/listings?user='+data.profiles_id, class="bg-gradient-to-r from-[#594ED1] to-[#974ED1]") 
        div.self-center Update 