if brokrage
    div.rounded-lg.bg-center.bg-cover(class="bg-[#4A4D91] bg-[url('/images/cBlurrs.png')]")
        div.w-full.flex.flex-col.p-2.items-center
            div.bg-center.rounded-full.w-32.h-32.my-4(class="bg-[url('/images/cover.jpg')]")
            div.font-bold=brokrage.name
            a.font-medium.text-xs.rounded-full.px-4.py-1.my-2(href='https://www.google.com' , class="bg-[#3b3e74]") 
                div Brokrage website
            a.font-medium.text-xs.rounded-full.px-4.py-1.my-2(href='../brokrage/profile') View Brokrage Profile