div.flex.gap-2.w-full(class="hidden lg:flex")
    a.w-full(href="./filter/topagents")
        img.m-auto(src="/images/topagents.png")
    a.w-full(href="./filter/topBrokrages")
        img.m-auto(src="/images/topbrokerage.png")
