div.flex.gap-4.w-full(class="hidden lg:flex")
    a.w-full(href="./filter/topagents")
        img.w-full(src="/images/topagents.png")
    a.w-full(href="./filter/topBrokrages")
        img.w-full(src="/images/topbrokerage.png")
