div.w-full.rounded-lg.p-4.flex.flex-col.gap-2.bg-center.bg-cover(class="bg-[url('/images/cBlurrs.png')]")
    a.p-2.gap-2.flex.rounded.lg(href='/agent/listings?user='+data.profiles_id )
        div.w-full.h-6 My Listings
    a.p-2.gap-2.flex.rounded.lg(href='/agent/addlistings?user='+data.profiles_id )
        div.w-full.h-6 Add New Listings
