div.rounded-lg.p-2.flex.flex-col.gap-2.bg-center.bg-cover(class="bg-[url('/images/cBlurrs.png')]")
    a.p-2.gap-2.flex.rounded.lg(href="/admin/userslist" class="hover:bg-[#2F3159]")
        div Users List
    a.p-2.gap-2.flex.rounded.lg(href="/admin/brokrageslist" class="hover:bg-[#2F3159]")
        div Brokrages List
    a.p-2.gap-2.flex.rounded.lg(href="/admin/locationslist" class="hover:bg-[#2F3159]")
        div Locations List


