div.border-b.border-slate-500.text-sm.bg-cover.bg-center.py-2.justify-center(class="bg-[url('/images/hBlurrs.png')] hidden sm:hidden md:flex")
    - for (var i = 0; i < 14; i++)
        a.px-2(class="hover:font-bold",href="/filter/topagents")=l[i].location