include ../partials/mainNav
    div.p-4
        div.text-sm.m-2.py-1.px-8.rounded-full.w-fit(class=" bg-[#4A4D91]") Home / Agents By Location / Toronto

        div.flex.flex-col.p-2.gap-2
            div.bg-gray-500.w-full.rounded-lg.h-64.bg-cover.bg-center(class="w-[400px] bg-[url('/images/cover.jpg')]")
            div.flex.flex-col.gap-6.px-6
                div.flex.m-auto.gap-8.p-4.w-fit.rounded-lg.bg-center.bg-cover(class="mt-[-35px] bg-[#4A4D91] bg-[url('/images/cBlurrs.png')]")
                    div.flex.gap-2
                        div.font-bold Brokrage Name:
                        div Example
                    div.flex.gap-2
                        div.font-bold Total Agents:
                        div 20
                    div.flex.gap-2
                        div.font-bold WebSite:
                        div View the brokrage web page !
                include ../partials/agentsGrid
            