html
    head
        title AgentFlix
        link(rel='shortcut icon' type='image/x-icon' href='/favicon.png')
        link(rel='stylesheet' href='/styles/tailwind.css')
        link(rel='stylesheet' href='/styles/custom.css')
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap", rel="stylesheet")
        script(src="/scripts/htmx.js") 
        script(src="/scripts/hyperscript.js")
        //- script(src="") 
    body.font-manrope
        block content