include ../../partials/mainNav
    div.px-16.py-4
        div.text-sm.m-2.py-1.px-8.rounded-full.w-fit(class=" bg-[#4A4D91]") Home / Agents By Location / Toronto
        div.flex.flex-col.p-2.gap-2
            div.grid.grid-cols-12.gap-6
                div.col-span-3
                    include ../../partials/settingsNav
                div.col-span-9.flex.flex-col.gap-2.rounded-lg.p-6.bg-center.bg-cover(class="bg-[url('/images/cBlurrs.png')]")
                    div.font-bold Delete Account
                    div.flex.flex-col.gap-4.text-sm.p-6
                        div.flex.gap-4
                            div.flex.w-full
                                div.w-full.flex.flex-col.gap-3
                                    div.font-bold Enter Password 
                                    input.w-full.rounded-lg.h-10.text-xs.px-2.outline-transparent(placeholder="Please Enter" class="bg-[#494C7D]")

                            div.flex.w-full
                                div.w-full.flex.flex-col.gap-3
                                    div.font-bold Comfirm Password
                                    input.w-full.rounded-lg.h-10.text-xs.px-2.outline-transparent(placeholder="Please Enter" class="bg-[#494C7D]")

                        div.flex
                            div.w-full.flex.flex-col.gap-3
                                div.font-bold Comment
                                textarea.w-full.rounded-lg.text-xs.px-2.outline-transparent.h-32(placeholder="Please Enter", class="bg-[#494C7D]")

                        a.p-2.w-full.rounded-lg.text-white.font-medium.flex.justify-center.text-sm(href="../auth/register" class="bg-gradient-to-r from-[#594ED1] to-[#974ED1]") 
                            div.self-center Delete My Account ! 


