include ../../partials/mainNav
     div.overflow-y-auto.px-16(class='h-[83vh]')
        div.flex.flex-col.p-2.gap-2
            div.grid.grid-cols-12.gap-2
                div.col-span-3
                    include ../../partials/settingsNav
                div.col-span-9.flex.flex-col.gap-2.rounded-lg.p-4
                    div
                        div Notification Settings
                    
                            
                            