extends ../layout

block content
    div(class='bg-[#2F3159] text-white')
        div(class="bg-[url('/images/bmain.png')]")
            div.flex.justify-between.p-8
                a(href="../")
                    img(src="/images/logo.svg")
                a.p-2.w-40.rounded-lg.text-white.font-medium.flex.justify-center.text-sm.border.border-slate-500(href="../auth/login") 
                    div.self-center Join Now
            div.flex.flex-col.gap-12.text-white.mt-14
                div.m-auto.text-6xl.font-bold.text-center(class="w-4/5") The social network for agents to seamlessly connect with clients
                div.m-auto.text-center(class="w-1/2") Agentflix provides a dedicated online space for both parties to easily connect, attend open houses, and trust each other.
                div.w-96.m-auto.flex.gap-2
                    a.p-2.flex.gap-2.w-full.rounded-full(href="../auth/register" class="bg-[#1B8D9C]")
                        div.w-full.flex.justify-center.font-bold Join Now
                        img(src="/images/next.svg")
                    a.p-2.w-full(href="./contact") Contact Us
                img(src="/images/lmain.png" class='m-auto mt-10')
        div.h-screen
            div.grid.grid-cols-2.gap-4.p-40
                img(src="/images/image1.png")
                div.flex.flex-col.gap-5.m-auto(class='h-[300px]')
                    div(class='text-[#FF7F5C] font-bold') Our Feature
                    div.text-4xl.font-bold An all in one suite of inbound marketing for agents to display themselves online
                    div.text-gray-300.text-sm We bring together everything that’s required for the real estate industry to work; agents and clients. Agentflix provides a dedicated online space for both parties to easily connect, attend open houses, and trust each other.
                    a.py-2.px-4.flex.gap-2.w-fit.rounded-full(href="../auth/register" class="bg-[#1B8D9C]")
                        div.w-full.flex.justify-center.font-bold Get Started
                        img(src="/images/next.svg")
        div.h-screen.p-40.text-center
            div.flex.flex-col.gap-10.m-auto(class='h-[300px]')
                div.text-4xl.font-bold Us Vs Them; A Comprehensive Analysis
                div.text-gray-300.text-sm Agentflix makes marketing more cost effective and easy than ever thought possible. By combining and improving on existing techniques, we incorporate all our features in one dedicated space online free for users to explore. It's more efficient than billboards and flyers!
                img(src="/images/table.png")
        div.h-screen
            div.grid.grid-cols-2.gap-4.p-40
                div.flex.flex-col.gap-5.m-auto(class='h-[300px]')
                    div(class='text-[#FF7F5C] font-bold') Our Feature
                    div.text-4xl.font-bold The modern way to market yourself in real estate
                    div.text-gray-300.text-sm Agentflix is joining the digital revolution by taking real estate to the online world. By existing online, your clients and future clients can have your profile and open houses at their fingertips wherever they have an internet connection.
                    a.py-2.px-4.flex.gap-2.w-fit.rounded-full(href="../auth/register" class="bg-[#1B8D9C]")
                        div.w-full.flex.justify-center.font-bold Get Started
                        img(src="/images/next.svg")
                img(src="/images/image2.png")
        div.flex.flex-col.gap-20.p-32(class='bg-[#4d4e7e]')
            div.flex.gap-4.justify-between
                div.text-4xl.font-bold Empower your brokerage and expand the team
                div.bg-orange-400.rounded-lg.w-fit.px-4.py-2 Get Started Now
            div.grid.grid-cols-2.gap-4
                div.flex.flex-col.gap-5.m-auto(class='h-[300px]')
                    div(class='text-[#FF7F5C] font-bold') Our Feature
                    div.text-4xl.font-bold The modern way to market yourself in real estate
                    div.text-gray-300.text-sm Agentflix is joining the digital revolution by taking real estate to the online world. By existing online, your clients and future clients can have your profile and open houses at their fingertips wherever they have an internet connection.
                    a.py-2.px-4.flex.gap-2.w-fit.rounded-full(href="../auth/register" class="bg-[#1B8D9C]")
                        div.w-full.flex.justify-center.font-bold Get Started
                        img(src="/images/next.svg")
                img(src="/images/image4.png")
        div
            div.grid.grid-cols-2.gap-4.px-40
                img(src="/images/image3.png")
                div.flex.flex-col.gap-5.m-auto(class='h-[300px]')
                    div(class='text-[#FF7F5C] font-bold') Our Feature
                    div.text-4xl.font-bold Take your career to a new level
                    div.text-gray-300.text-sm Whether starting your career or a seasoned professional, integrating yourself to the digital world is key to unlocking a new audience of potential clients. To achieve this, there needs to be a dedicated platform for real estate. Agentflix fixes the scattered and outdated marketing methods of real estate and connects clients with agents easier.
                    a.py-2.px-4.flex.gap-2.w-fit.rounded-full(href="../auth/register" class="bg-[#1B8D9C]")
                        div.w-full.flex.justify-center.font-bold Get Started
                        img(src="/images/next.svg")
        div
            div.flex.flex-col.mx-auto.text-center.px-40.gap-5.mb-10
                div(class='text-[#018B9E] font-bold') Why Agentflix
                div.text-4xl.font-bold Smart and efficient automation
                div.text-gray-300.text-sm.mx-auto(class="w-2/3") Agentflix’s software hosts the ability to allow agents to focus on their usual busy days while reaping the benefits of strong automation that connects with their calendars, guides users to their listings, and books more open house viewers.
            div.flex.gap-5.mx-auto.w-full.place-content-center
                img(src="/images/f1.png")
                img(src="/images/f2.png")
                img(src="/images/f3.png")

        div.h-screen.p-52
            div.flex.flex-col.gap-7.p-20.bg-cover.rounded-lg.text-center.place-content-center(class="bg-[url('/images/cBlurrs.png')]")
                div(class='text-[#018B9E] font-bold') Why Agentflix
                div.text-4xl.font-bold Smart and efficient automation
                div.text-gray-300.text-sm Agentflix’s software hosts the ability to allow agents to focus on their usual busy days while reaping the benefits of strong automation that connects with their calendars, guides users to their listings, and books more open house viewers.
                a.py-2.px-4.flex.gap-2.w-fit.rounded-full.place-self-center(href="../auth/register" class="bg-[#1B8D9C]")
                    div.w-full.flex.justify-center.font-bold Get Started
                    img(src="/images/next.svg")
        div.text-xs.p-32.flex.flex-col.gap-4.text-gray-400(class="md:hidden")
            div.grid.grid-cols-8.gap-8.p-6
                    div.flex.flex-col.gap-4.col-span-2
                        a(href="../")
                            img(src="/images/logo.svg" class="h-8 self-start")
                        div Agentflix provides a dedicated online space for both parties to easily connect, attend open houses, and trust each other.
                        img(src="/images/icons.svg" , class="h-4 self-start")

                    div.flex.flex-col.gap-4
                        div.font-bold.text-sm Company
                        a(href="../agentflix/about") About Us
                        a(href="../agentflix/soon") Careers
                        a(href="../agentflix/soon") Blog
                        a(href="../agentflix/landing") Pricing
                    div.flex.flex-col.gap-4
                        div.font-bold.text-sm Product
                        a(href="../agentflix/soon") Success Stories
                        a(href="../agentflix/soon") How it works
                        a(href="../filter/topagents") Top Agents
                        a(href="../filter/topBrokrages") Top Brokerages
                    div.flex.flex-col.gap-4.col-span-2
                        div.font-bold.text-sm Resources
                        a(href="../agentflix/soon") Becoming successful agent
                        a(href="../agentflix/soon") Tools for agents
                        a(href="../agentflix/soon") CRM
                        a(href="../auth/admin") Admin
                    div.flex.flex-col.gap-4.col-span-2
                        div.font-bold.text-sm Join Our Newsletter
                        div.flex
                            input.w-full.h-10.text-xs.px-2.outline-transparent(placeholder="Please Enter Your Email Here", class="bg-[#494C7D]")
                            a.p-2.w-full.text-white.font-medium.flex.justify-center.text-sm(href="./landing", class="bg-gradient-to-r from-[#594ED1] to-[#974ED1]") Subscribe
                        div.text-xs *  Will send you weekly updates for your better finance management.
            hr.w-full.h-px.bg-gray-500.border-0
            div
                div.grid.grid-cols-5.gap-4.p-4.text-sm.m-auto.text-center(class="w-1/2")
                    a(href="https://www.google.com") Twitter 
                    a(href="https://www.google.com") Dribbble 
                    a(href="https://www.google.com") Instagram 
                    a(href="https://www.google.com") YouTube 
                    a(href="https://www.google.com") Slack 
            div
            div.grid.grid-cols-3.gap-4.p-4.text-sm.m-auto.text-center(class="w-1/2")
                a(href="../agentflix/privacypolicy") 2024 All Rights Reserved
                a(href="../agentflix/privacypolicy") Privacy Policy
                a(href="../agentflix/terms") Terms of Use

