include ../partials/mainNavFilter
    div.flex
        include ../partials/filter
        div.flex.flex-col.gap-4.w-full.p-4
            div.text-sm.m-2.py-1.px-8.rounded-full.w-fit(class=" bg-[#4A4D91]") Home / Agents By Location / Toronto
            include ../partials/agentsGrid