include ../partials/mainNav
    div.p-2.px-6.flex.flex-col.gap-2
        div.text-sm.m-2.py-1.px-8.rounded-full.w-fit(class=" bg-[#4A4D91]") Home / Agents By Location / Toronto
        include ../partials/brokrageGrid